<div class="ui placeholder segment">
    <div class="ui two column stackable center aligned grid">
        <div class="ui vertical divider">Or</div>
        <div class="middle aligned row">
            <div class="column">
                <div class="ui icon header">
                    <i class="search icon"></i>
                    Find Restaurant
                </div>
                <div class="field">
                    <div class="ui search">
                        <form [formGroup]="searchForm">
                            <div (click)="searchForm.reset(); searching = false" class="ui icon input">
                                <input (keypress)="searchRestaurants($event.target.value)" formControlName="search"
                                    type="text" placeholder="search restaurants..." class="promt">
                                <i [ngClass]="searching ? 'close' : 'search'" class=" icon"></i>
                            </div>
                        </form>
                        <div [ngClass]="searching ? 'visible' : 'hidden'" class="results transition">
                            <div *ngIf="searchList && searchList.length > 0; else notFound">

                                <div class="ui list" *ngFor="let res of searchList">
                                    <div class="item m-2">
                                        <img class="ui avatar image" *ngIf="res.image !== null; else placeholderImage"
                                            [src]="res.image && res.image.imageUrl" alt="">
                                        <ng-template #placeholderImage>
                                            <img class="ui avatar image" src="../../../assets/imageplaceholder.png">
                                        </ng-template>
                                        <div class="content p-1">
                                            <a [routerLink]="'/' + res.name + '/details'"
                                                class="header">{{res.name}}</a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                            </div>
                            <ng-template #notFound>
                                <a class="result">Could not find any matching restaurant</a>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui icon header">
                    <i class="user icon"></i>
                    Food Service Provider
                </div>
                <a [routerLink]="['/user/login']" routerLinkActive="active" class="ui huge primary button">Get Started
                    <i class="right arrow icon"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="segment">
    <app-placeholder *ngIf="loading"></app-placeholder>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6" (click)="sendDataToComponent(restaurant)"
            *ngFor="let restaurant of restaurants">
            <app-feed class="custom" [image]="restaurant.image" [title]="restaurant.name">
                <div>
                    {{restaurant.about.substring(0,200)}}...
                </div>
                <div extra>
                    <div class="btn-group-vertical" role="group">
                        <a class="fluid ui green label" [routerLink]="[restaurant.name + '/make-reservation/']">
                            <i class="big book icon"></i>Make reservation at {{restaurant.name}}</a>
                        <a class=" fluid ui teal label" href="mailto:{{restaurant.email}}" target="_blank"><i
                                class="big envelope open icon"></i>{{restaurant.email}}</a>
                        <a class="fluid ui teal label" href="tel:{{restaurant.phoneNumber}}}"><i
                                class="big phone square icon"></i>{{restaurant.phoneNumber}}</a>
                        <a class="fluid ui teal label" href="{{restaurant.siteAddress}}" target="_blank"><i
                                class="big globe icon"></i>{{restaurant.siteAddress}}</a>
                    </div>
                </div>
            </app-feed>
            <hr>
        </div>
    </div>
    <button [hidden]="this.last" [ngClass]="moreLoading ? 'loading': ''" [disabled]="moreLoading"  (click)="fetchMoreRestaurants()" class="fluid teal basic  ui button">More Restaurants</button>
</div>