.ui.header {
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }

  .masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
  }
  .ui.label {
    margin: 0.5em;
  }