<app-modal (dismiss)="modalOpen = false;">
    <div modalTitle>
        <h1 class="text-center">Password Reset</h1>
    </div>
    <form (ngSubmit)="onFormSubmit()" [formGroup]="forgotPasswordForm">
        <div [ngSwitch]="step">
            <div *ngSwitchCase="'1'">
            <mat-form-field  [ngClass]="{'is-invalid': showErrors()}" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="forgotPasswordForm.get('email')">
            </mat-form-field>
            <button [ngClass]="loading ?'ui primary loading button': ''" type="button" (click)="checkEmail()" class="ui basic button text-center">Submit</button>
            <div class="ui red pointing label" *ngIf="forgotPasswordForm.errors">
                <p *ngIf="forgotPasswordForm.errors.noEmail"> Given email does not exists.</p>
            </div>
        </div>
            <div *ngSwitchCase="2">
            <i>Reset token has been sent to {{forgotPasswordForm.get('email').value}}</i>
                <app-input [inputType]="'number'" [label]="'Enter 6 digit token'"[control]="forgotPasswordForm.get('resetToken')"></app-input>
                <button [ngClass]="loading ?'ui primary loading button': ''" (click)="validatToken()" type="button" class="ui basic button text-center">Submit</button>
                <div class="red pointing label" *ngIf="forgotPasswordForm.errors">
                    <p *ngIf="forgotPasswordForm.errors.invalidToken">Token could not be validated</p>
                </div>
            </div>
            <div *ngSwitchCase="'3'">
                <h3 class="text-center"><strong style="color: green;">[{{forgotPasswordForm.get('email').value}}] </strong>verified</h3>
                <app-input [inputType]="'password'" [label]="'New Password'" [control]="forgotPasswordForm.get('password')"></app-input>
                <app-input [inputType]="'password'" [label]="'Confirm New Password'" [control]="forgotPasswordForm.get('passwordConfirmation')">
                </app-input>
                <div modalFooter>
                    <button [ngClass]="loading ?'ui primary loading button': ''" class="ui basic button text-center">Submit</button>
                </div>
                <div *ngIf="forgotPasswordForm.errors" class="red pointing label">
                        <p *ngIf="forgotPasswordForm.errors.unknown">Unexpected error happened</p>
                    </div>
            </div>

        </div>
    </form>

</app-modal>