<div class="ui container">
    <app-table>
        <ng-container tableHead>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Number of People</th>
            <th>Date</th>
            <th>Time</th>
            <th>Special Request</th>
        </ng-container>
        <tr *ngFor="let reservation of reservationList">
        <td>{{reservation.fullName}}</td>
        <td>{{reservation.email}}</td>
        <td>{{reservation.phoneNumber}}</td>
        <td>{{reservation.numberOfPeople}}</td>
        <td>{{reservation.date | date}}</td>
        <td>{{reservation.time | date: 'HH:mm'}}</td>
        <td>{{reservation.specialRequest}}</td>
        </tr>
    </app-table>
    <a [routerLink]="['/reservation/new']" routerLinkActive="active"  class="ui button">Create new Reservation</a>
</div>