<div *ngIf="reservations && reservations.content.length > 0; else noBookings" class="">
    <div class="text-center">
            <a [routerLink]="['/reservation/new/'+restaurantId]" [routerLinkActiveOptions]="{'exact': 'true'}"
            routerLinkActive="active" class="fluid ui green button">Create new Reservation</a>
    </div>
    <app-table [data]="reservations"></app-table>
</div>
<div [ngClass]="loading ? 'ui active loader' : ''" class="ui container">
    <div class="row">
        <ng-template #noBookings>
            <div class="col-sm-12">
                <h1 class="text-center">You do not have any bookings yet.</h1>
            </div>
            <a [routerLink]="['/reservation/new/'+restaurantId]" [routerLinkActiveOptions]="{'exact': 'true'}"
                routerLinkActive="active" class="ui button">Create new Reservation</a>
        </ng-template>
    </div>
</div>