<div>
    <div *ngIf="loading">
        <div class="ui active inverted dimmer">
            <div class="ui large text loader">Loading</div>
        </div>
    </div>
    <form *ngIf="user" [formGroup]="userForm">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <app-input [label]="'Name'" [control]="userForm.get('name')" [givenValue]="user.name">
                </app-input>
            </div>
            <div class="col-sm-12 col-md-6">
                <app-input [label]="'Email'" [control]="userForm.get('email')" [givenValue]="user.email">
                </app-input>
            </div>
        </div>
        <div class="row">
            <h5 class="text-center pl-3">Change Password</h5>
            <div class="col-sm-12 col-md-12">
                <app-input [inputType]="'password'" [control]="userForm.get('password')" [label]="'Current password'">
                </app-input>
            </div>
            <div class="col sm-12 col-md-6">
                <app-input [inputType]="'password'" [control]="userForm.get('newPassword')" [label]="'New Password'">
                </app-input>
            </div>
            <div class="col-sm-12 col-md-6">
                <app-input [inputType]="'password'" [control]="userForm.get('newPasswordConfirmation')"
                    [label]="'Retype New Password'"></app-input>
            </div>
        </div>

    </form>
</div>