.actions:empty{
    display: none;
}

.actions-default{
    display: none;
}
.actions:empty + .actions-default{
    display: block;
}

.modal {
    position: relative;
    height: auto;
    width: auto;

}

.ui.modal {
    min-width: 500px;
}

@media only screen and (max-width: 767px){
    .ui.modal {
        min-width: 100%;
    }
}
