<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="field">
            <mat-form-field appearance="outline">
                <mat-label>Day</mat-label>
                <mat-select [formControl]="control.get('dayOfWeek')">
                    <ng-container *ngIf="days && days.length > 0">
                            <mat-option *ngFor="let day of days" [value]="day">{{day}}</mat-option>
                    </ng-container>
                <mat-option  *ngIf=" givenOpeningHours &&  givenOpeningHours.dayOfWeek" [value]="givenOpeningHours.dayOfWeek">{{givenOpeningHours.dayOfWeek}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="field">
            <span>From</span>
            <igx-time-picker [value]="givenOpenFrom"  [itemsDelta]="{hours: 1, minutes: 10}" [isSpinLoop]="false"
                mode="dropdown" [formControl]="control.get('openFrom')">
            </igx-time-picker>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="field">
            <span>Until</span>
            <igx-time-picker [value]="givenOpenUntil"  [itemsDelta]="{hours: 1, minutes: 10}" [isSpinLoop]="false"
                mode="dropdown" [formControl]="control.get('openUntil')">
            </igx-time-picker>
        </div>
    </div>
</div>