<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <div class="signup">
                <h1 class="title">My Restaurant</h1>
                <form [formGroup] = "restaurantForm" (ngSubmit)="onSubmit()">
                    <div>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Name of the Restaurant</mat-label>
                            <input type="text" matInput placeholder="Name of your restaurant" formControlName="name"
                                [ngClass]="{'is-invalid': submitted && f.name.errors}">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name of the restaurant is required</div>
                                </div> 
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Address</mat-label>   
                            <input type="text" matInput placeholder="Address of your restaurant" formControlName="address"
                            [ngClass]="{'is-invalid': submitted && f.address.errors}">
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                            </div>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>