<div *ngIf="loading">
    <div class="ui active inverted dimmer">
        <div class="ui large text loader">Loading</div>
    </div>
</div>
<div *ngIf="restaurant" class="row">
    <div class="col-sm-12 col-md-3">
        <div class="ui column grid">
            <div class="column">
                <div class="ui fluid card">
                    <img *ngIf="image" class="img-fluid" [src]="image ? image.imageUrl : ''" alt="">
                    <input *ngIf="restaurant.image === null" class="basic ui button" #newImage (change)="uploadImage($event)"
                        type="file" accept=".jpg, .jpeg, .png, .gif">
                        <button class="fluid ui secondary button" (click)="uploadImage(newImage)">Update</button>
                    <div class="content">
                        <div class="header">{{restaurant.name}}</div>
                        <div><i class="map marker alternate icon"></i> {{restaurant.address}}</div>
                        <div class="meta">Owned by {{restaurant.user.firstName}}</div>
                        <div *ngIf="restaurant.image" class="ui bottom attached button">
                            <i class="change icon"></i>
                            Change Picture
                            <input class="fluid ui button" type="file" #updatingImage  accept=".jpeg, .jpg, .png, .gif">
                            <button type="submit" class="fluid ui secondary button" (click)="updateImage(updatingImage)">Update</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="row">
            <div class="col-sm-12">
                <a [routerLink]="['/reservation/'+restaurant.id]" routerLinkActive="router-link-active"
                    class="fluid ui button m-1">Manage Bookings</a>
            </div>
        </div>
        <nav mat-tab-nav-bar class="ui two item menu">
            <a class="item" [routerLink]="'user/'+restaurant.user.id" routerLinkActive="active">Personal
                Information</a>
            <a class="item" [routerLink]="restaurant.id" routerLinkActive="active">
                {{restaurant && restaurant.name}} Information</a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>