<mat-form-field appearance="outline" class="full-width">
    <mat-label>{{label}}</mat-label>
    <input [value]="givenValue" *ngIf="controlType === 'input'" [ngClass]="{'is-invalid': showErrors()}" matInput [type]="inputType" [formControl]="control" placeholder="{{label}}" />
    <textarea *ngIf=" controlType === 'textarea'" matInput [cols]="10" [rows]="5" [formControl]="control"></textarea>
    <div *ngIf="control.touched && control.dirty && control.errors" class="invalid-feedback">
        <p *ngIf="control.errors.required">{{label}} is required</p>
        <p *ngIf="control.errors.nonUniqueUsername">Username is taken</p>
        <p *ngIf="control.errors.emailExists">Email already exists. Try Login instead</p>
        <p *ngIf="control.errors.noConnection">Unknown error occured. Please check the internet connection</p>
        <p *ngIf="control.errors.email">Enter a valid email</p>
        <p *ngIf="control.errors.minlength">
            Password you entered is {{control.errors.minlength.actualLength}} characters long, it must be at least
            {{control.errors.minlength.requiredLength}}
        </p>
    </div>
    <span class="float-right">
        <ng-content></ng-content>
    </span>
</mat-form-field>

