<mdb-navbar *ngIf="visible | async" SideClass="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-dark blue " [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
      <mdb-icon fas icon="home"></mdb-icon>My Restaurant
    </a></mdb-navbar-brand>
  <links>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span>
        </a>
      </li>
      <li *ngIf="isActive$ | async" class="nav-item">
        <a *ngIf="restaurantId$ | async"  [routerLink]="['/reservation/'+restaurantId$.value]" routerLinkActive="router-link-active" class="nav-link waves-light"
          mdbWavesEffect>
          <mdb-icon fas icon="book"></mdb-icon> My Bookings
        </a>
      </li>

      <li *ngIf="isActive$ | async" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/restaurant']"
            routerLinkActive="router-link-active">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log out</a>
        </div>
      </li>

    </ul>

  </links>
</mdb-navbar>
