/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.full-width {
    width: 100%;
}

.title {
    font-weight: 900;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-display: inherit;
    text-decoration: white;
    margin-top: 1%;
    height: 100%;
    width: 100%;
    text-align: center;
}