
<div  class="container">
    <app-placeholder *ngIf="loading"></app-placeholder>
    <div *ngIf="restaurant" class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="six wide  column">
                    <img *ngIf="restaurant.image && restaurant.image.imageUrl" src="{{restaurant.image.imageUrl}}"
                        class="ui large bordered rounded image">
                    <img *ngIf="restaurant.image === null" class="ui large bordered rounded image"
                        src="../../../assets/white-image.png">
                    <div class="ui main text">
                        <h1 class="ui header">{{restaurant.name}}</h1>
                        <p><i class="map marker alternate icon"></i>{{restaurant.address}}</p>
                        <a class="link" [href]="'mailto:' +restaurant.email" target="_blank"><i
                                class="ui envelope icon"></i>{{restaurant.email}}</a><br>
                        <a class="link" [href]="restaurant.siteAddress" target="_blank"><i
                                class="ui globe icon"></i>{{restaurant.siteAddress}}</a><br>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui header">Opening Hours </div>
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>From</th>
                                <th>Open Until</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [ngClass]="restaurant.openingHours[today].dayOfWeek === day.dayOfWeek ? 'active': ''"  *ngFor="let day of restaurant.openingHours">
                                <td>{{day.dayOfWeek}}</td>
                                <td>{{day.openFrom | date: 'hh:mm a'}}</td>
                                <td>{{day.openUntil| date: 'hh:mm a'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                    <div class="center aligned column">
                      <a class="ui huge green button" [routerLink]="['/' + restaurant.name + '/make-reservation/']">Book Table</a>
                    </div>
            </div>
            <h4 class="ui horizontal header divider">Info</h4>
            <div class="row">
                <h1 class="ui header">Little bit about {{restaurant.name}}</h1>
                <p>{{restaurant.about}}</p>
            </div>
        </div>
    </div>
</div>